.jss1 {
  display: flex;
}
.jss2 {
  padding-right: 24px;
}
.jss3 {
  display: flex;
  padding: 0 8px;
  min-height: 56px;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 0px) and (orientation: landscape) {
  .jss3 {
    min-height: 48px;
  }
}
@media (min-width: 600px) {
  .jss3 {
    min-height: 64px;
  }
}
.jss4 {
  z-index: 1201 !important;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
    margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}
.jss5 {
  width: calc(100% - 240px) !important;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
    margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  margin-left: 240px !important;
}
.jss6 {
  margin-right: 36px !important;
}
.jss7 {
  display: none !important;
}
.jss8 {
  flex-grow: 1 !important;
}
.jss9 {
  width: 240px !important;
  position: relative !important;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
  white-space: nowrap !important;
}
.jss10 {
  width: 56px;
  overflow-x: hidden;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}
@media (min-width: 600px) {
  .jss10 {
    width: 72px;
  }
}
.jss11 {
  min-height: 56px;
}
@media (min-width: 0px) and (orientation: landscape) {
  .jss11 {
    min-height: 48px;
  }
}
@media (min-width: 600px) {
  .jss11 {
    min-height: 64px;
  }
}
.jss12 {
  height: 100vh;
  overflow: auto;
  flex-grow: 1;
}
.jss13 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.jss14 {
  display: flex;
  padding: 16px;
  overflow: auto;
  flex-direction: column;
  overflow-y: hidden;
}
.jss15 {
  height: 240px;
}
.jss110 {
  display: flex !important;
}
.jss226 > div,
.jss226 > button {
  margin: 8px 8px 8px 0;
}
.jss111 {
  margin: 0 !important;
}
.jss111 > div {
  margin: 8px;
  width: calc(50% - 8px) !important;
}
.jss111 > div:last-child {
  margin-right: -16px !important;
}
.jss111 > div:first-child {
  margin-left: 0 !important;
}
.jss112 {
  padding-right: 24px !important;
  padding-bottom: 24px !important;
}

.collapse {
  width: 100%;
}

.collapse > div {
  margin: 12px;
}
